<form class="signup-form col-11">
  <div class="content login-content">
    <div>
      <div class="row">
        <p class="post-title align-middle login-header col-12">Signup</p>
      </div>
    </div>
    <div class="user-input post-body">
      <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" class="form-control col-12" id="username" />
      </div>
      <div class="form-group">
        <label for="email-login">Email address</label>
        <input
          type="email"
          class="form-control col-12"
          id="email-login"
          placeholder="name@example.com"
        />
      </div>
      <div class="form-group">
        <label for="password-login">Password</label>
        <input
          type="password"
          class="form-control col-12"
          id="password-login"
        />
      </div>
      <div>
        <button
          type="submit"
          class="btn login-signup-btn col-12"
          id="submitPasswordButton"
        >Sign Up</button>
        <div class="link">
          <a href="/login">Login instead</a>
        </div>
      </div>
    </div>
  </div>
</form>