<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Just Tech News</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <nav>
          <div>
            <a href="/">Home</a>
          </div>
          <div>
            {{#if loggedIn}}
              <a href="/user-dashboard/">Dashboard</a>
            {{else}}
              <a href="/dashboard">Dashboard</a>
            {{/if}}

          </div>
          {{#if loggedIn}}
            <div>
              <a href="/logout" id="logout">logout</a>
            </div>
          {{else}}
            <div>
              <a href="/login">login</a>
            </div>
          {{/if}}
        </nav>
        <h1>
          <a href="/">Just Tech News</a>
        </h1>

      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
    ></script>
    <script src="/js/script.js"></script>
  </body>

</html>