<form class="comment">
  <div class="edit-title col-8">
    <p>Create New Post</p>
  </div>
  <div class="comment-body">
    <div class="form-group">
      <label for="post-title">Title</label>
      <input
        class="col-12"
        type="text"
        id="post-title"
        value="{{post.post_title}}"
      />
    </div>
    <div class="form-group">
      <label for="post-content">Content</label>

      <div class="input-area col-12">
        <span
          class="form-control span-input col-12"
          role="textarea"
          id="post-content"
          contenteditable
        >
          {{post.post_text}}
        </span>
      </div>
    </div>
    <div>
      <button
        class="btn comment-btn col-12"
        type="submit"
        id="createButton"
      >Create</button>
    </div>

  </div>
</form>