<div>
  Create New Post
</div>
<div>
  <form class="add=post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" />
    </div>
    <div>
      <label for="post-title">Content</label>
      <input type="text" id="post-title" />
    </div>
    <div>
      <button type="submit" id="addPostButton">Create</button>
    </div>
  </form>
</div>

<div>
  <a href="/add-post" class="button">Add Post</a>
</div>