<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post post }}
  </li>
  {{/each}}
</ol>

{{#if dashboard}}
   <div>
    <a href="/add-post" class="button">Add Post</a>
   </div>
{{/if}}