<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post post }}
  </li>
  {{/each}}
</ol>

{{#if dashboard}}
    <div>
      <button type="submit" id="addPost">Add Post</button>
    </div>
{{/if}}