{{> full-post post }}

{{#if loggedIn}}
  <form class="comment-form">
    <div>
      <textarea name="comment-body" id="comment-body"></textarea>
    </div>

    <div>
      <button type="submit" id="submitComment">add comment</button>
    </div>
  </form>
{{/if}}

{{> comments post.comments }}